@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}
:root {
  --background: 350 100% 98%;      /* very light pink */
  --timeline-mid: 345 100% 95%;    /* soft blush */
  --timeline-end: 340 100% 92%;    /* romantic rose */

  --card: 0 0% 100%;
  --primary: 340 80% 55%;
}
